html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, aside,section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article{
	background-color:#00FFFF;
	float:right;
	width:30%;
	height:100%;
	min-height:350px;
	margin-top:5%;
	margin-right:30%;
}
article section h1{
	width:80%;
}
article section h2{
	font-size: 15px;
	font-weight: normal;
	color: black;
	padding-top:4%;
	border-bottom: 1px solid black;
	width:90%;
	padding-bottom:4%;
}

#posicionar{
	position:absolute;
	top:12%;
	left:60%;
}
article section span img{
	width:19%;
	height:19%;
	background-color:#00FFFF;
}
#name {
	font-size: 22px;
	font-weight: normal;
	color: black;
}
#position{
	font-size: 16px;
	font-weight: normal;
	color: blue;
}
#department {
	font-size: 12px;
	font-weight: normal;
	color: green;
}
#company{
	font-size: 12px;
	font-style:italic;
	font-weight: normal;
	color: black;
}
#companyb{
	font-size:12px;
	color:black;
}
aside header img{
	display:block;
	margin:auto;
	margin-top:5%;
	
}
aside{
	background-color:#00CDF1;
	float: left;
	width: 15%;
	height: 100%;
	min-height:350px;
	margin-left: 25%;
	margin-top:5%;
}
 
aside nav {
	padding-top:25%;
	text-align:justify;
	margin-left:15%;
	color:blue;
}
#cabecera{
	padding-top:5%;
	padding-left:15%;
}
#main{
	padding-top:5%;
	padding-left:15%;
}
article section span{
	font-size: 12px;
}
.tamicon{
	width:7%;
	height:7%;
}
.posicion{
	padding-left:5%;
	vertical-align:super;
}
a{
	text-decoration:none;   
	color:blue;
}
a.enlace:hover{
	color:gold;
	background-color:#00CDF1;
	text-decoration: none;
	border: 1px solid;
	border-top-color:white;
	border-right-color:white;
	border-left-color:#00CDF1;
	border-bottom-color:#00CDF1;
}
a:hover{
	color:red;
}
.menu{
	font-family:'Arial';
	text-decoration:none;
	background:#00CDF1;
	text-transform: uppercase;
	width:80%; 
	list-style: none;
}